**/*
# Config
!.obsidian
!.obsidian/snippets
!.obsidian/appearance.json

.obsidian/plugins/data.json
.obsidian/plugins
.obsidian/community-plugins.json
.obsidian/core-plugins.json

# Data
!Uni
!Uni/**

# Git
!.gitignore
!.gitattributes
!LICENSE
!README
