**/*
# Config
!.obsidian
!.obsidian/plugins
!.obsidian/plugins/**
.obsidian/plugins/data.json
!.obsidian/snippets
!.obsidian/snippets/**
!.obsidian/appearance.json
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json

# Data
!Uni
!Uni/**

# Git
!.gitignore
!.gitattributes
!LICENSE
!README
