.center {
  display: block;
  margin: auto auto;
}

img {
  border-radius: 5px;
  transition: transform 250ms ease;
  max-height: 400px;

  background-color: #ddd;
}


img:hover {
  transform: scale(1.05);
}

mjx-math {
  font-size: 130% !important;
}