.center{
  display: block;
  margin: auto auto;
}

img{
  border-radius: 5px;
  transition: transform 250ms ease;

  background-color: #ddd;
}


img:hover{
  transform: scale(1.05);
}

/*  Change color of titles while you write 
.HyperMD-header-2{
  color: red;
} */